# Site
NEXT_PUBLIC_SITE_URL=https://example.com

# CMS
CMS_SECRET=
CMS_GITHUB_TOKEN=
BLOB_READ_WRITE_TOKEN=

# GitHub OAuth (optionnel)
GITHUB_CMS_CLIENT_ID=
GITHUB_CMS_CLIENT_SECRET=
CMS_ALLOWED_USERS=

# Image generation (optionnel)
BFL_API_KEY=
